{% extends "base.html" %} {% block content %}

<h1>Play rock, paper, scissors!!!!!</h1>
<br>
<h3>I don't know why you would need instructions to play this game but here you go:</h3>
<ol>
    <li>Player 1 types their choice at the end of the URL in the address bar, e.g. /rock</li>
    <li>Player 2 then types their choice after this in the same way e.g. /scissors</li>
    <li><b>Press Enter</b> to play!</li>
</ol>
<p>It's kind of dumb because Player 2 can see what Player 1 has picked and win every time but whatever ¯\_(ツ)_/¯</p>

{% endblock %}